@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap');
/* font-family: 'Poppins', sans-serif; */

*{
    margin: 0;
    padding: 0;
}

body{
    max-width: 1440px;
    box-sizing: border-box;
    margin: auto;
}

.first{
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url(./Assets/Photos/futuristic-bg.png);
    /* font-family: 'Poppins', sans-serif; */
    background-position:center;
}

.nav-bar{
    padding: 2% 8%;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
}

.img-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6rem;
    max-width: fit-content;
}

.logoNavImg{
    width: 25%;
}

.list{
    display: flex;
    gap: 2rem;
    white-space: nowrap;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    color: #cec7c8;
}

.list-items{
    list-style-type: none;
}

.buttons{
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    display: flex;
    gap: 3rem;
    max-width: max-content;
    align-items: center;
}

.buttons span{
    color: #cec7c8;
}

.buttons button{
    padding: 0.6rem 1.2rem;
    white-space: nowrap;
    font-weight: 700;
    background-color: #F4694C;
    color: #ffffff;
    border: none;
}

/* &---- Hero-container-first----*/

.hero-one{
    margin: 3% 8%;
    display: flex;
    justify-content: space-between;
}

/* ?----left-area---- */

.left-area{
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 5% 0;
}

.left-area h1{
    font-size: 2.6rem;
}

.left-area p{
    color: #cec7c8;
    font-size: 0.8rem;
}

.buttons-hero{
    display: flex;
    gap: 2rem;
    font-family: 'Poppins', sans-serif;
}

.get{
    padding: 0.8rem 1.6rem;
    font-size: 1rem;
    background-color: #F4694C;
    color: #ffffff;
    border: none;
    font-weight: 700;
}

.learn{
    padding: 0.8rem 1.6rem;
    font-size: 1rem;
    background-color: transparent;
    color: #FBFCFC;
    border-color: #FBFCFC;
}

/* ?----Right-area---- */

.right-area{
    display: flex;
    flex-direction: column;
    padding-top: 13%;
    padding-bottom: 4%;
    position: relative;
    right: 3rem;
    gap: 6rem;
    align-items: center;
    max-width: fit-content;
}

.playImg{
    width: 90%;
}

.game-name-first{
    display: flex;
    position: relative;
    right: 2rem;
    font-size: 1.4rem;
    color: #ffffff;
    gap: 0rem;
    font-family: 'Poppins', sans-serif;
}

.name-first{
    position: relative;
    left: 3rem;
}

.right-arrow{
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    left: 4rem;
}

/* !----Second-section */


.heading-second{
    margin: 12% 8% 4% 8%;
}

h2{
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 2.5rem;
}

/* &----Game-cards---- */

.game-cards{
    margin: 0 8% 4% 8%;
    display: flex;
    justify-content: space-between;
}

/* ?----Area-soldiers */

.imageFrame{
    width: 250px;
    height: 300px;
    background-image: url(./Assets/Photos/image\ 2.png);
    background-position: center;
    background-size: cover;
    background-position: left 19rem center;
}

.text-button-card-1{
    position: relative;
    top: 210px;
    padding: 4% 3%;
    font-family: 'Poppins', sans-serif;
    display: flex;
    background-color: rgb(71,76,78, 0.95);
    justify-content: space-between;

}

.description-text p:first-child{
    font-size: 0.9rem;
    color: #FAFAFB;
    font-weight: 700;
}

.description-text p:nth-child(2){
    color: #b0b8b8;
    font-size: 0.8rem;
}

.stars img{
    width: 0.7rem;
    padding-right: 0.4rem;
}

.button-download{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.download-orange{
    padding: 0.6rem 1rem;
    background-color: #F4694C;
    color: #FAFAFB;
    font-weight: 700;
    border: none;

}

.description-text{
    display: flex;
    flex-direction: column;
    gap: 0.17rem;
}

/* ?----Area-warriors---- */

.imageFrame-2{
    width: 250px;
    height: 300px;
    background-image: url(./Assets/Photos/image\ 4.png);
    background-position: center;
    background-size: cover;
}

.text-button-card-2{
    position: relative;
    top: 210px;
    padding: 4% 3%;
    font-family: 'Poppins', sans-serif;
    display: flex;
    background-color: rgba(27, 27, 21, 0.98);
    justify-content: space-between;
    /* rgb(38,38,29, 0.98) */
}

.description-text p:first-child{
    font-size: 0.9rem;
    color: #FAFAFB;
    font-weight: 700;
}

.description-text p:nth-child(2){
    color: #b0b8b8;
    font-size: 0.8rem;
}

.stars img{
    width: 0.7rem;
    padding-right: 0.4rem;
}

.button-download{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.download-orange{
    padding: 0.6rem 1rem;
    background-color: #F4694C;
    color: #FAFAFB;
    font-weight: 700;
    border: none;

}

.description-text{
    display: flex;
    flex-direction: column;
    gap: 0.17rem;
}

/*?----Area-pubjiken---- */

.imageFrame-3{
    width: 250px;
    height: 300px;
    background-image: url(./Assets/Photos/image\ 3.png);
    background-position: center;
    background-size: cover;
}

.text-button-card-3{
    position: relative;
    top: 210px;
    padding: 4% 3%;
    font-family: 'Poppins', sans-serif;
    display: flex;
    background-color: rgb(71,79,137, 0.95);
    justify-content: space-between;

}

.description-text p:first-child{
    font-size: 0.9rem;
    color: #FAFAFB;
    font-weight: 700;
}

.description-text p:nth-child(2){
    color: #b0b8b8;
    font-size: 0.8rem;
}

.stars img{
    width: 0.7rem;
    padding-right: 0.4rem;
}

.button-download{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.download-orange{
    padding: 0.6rem 1rem;
    background-color: #F4694C;
    color: #FAFAFB;
    font-weight: 700;
    border: none;

}

.description-text{
    display: flex;
    flex-direction: column;
    gap: 0.17rem;
}

/* ?----Area-garela---- */

.imageFrame-4{
    width: 250px;
    height: 300px;
    background-image: url(./Assets/Photos/Rectangle\ 56.png);
    background-position: center;
    background-size: cover;
}

.text-button-card-4{
    position: relative;
    top: 210px;
    padding: 4% 3%;
    font-family: 'Poppins', sans-serif;
    display: flex;
    background-color: rgb(97,86,82, 0.96);
    justify-content: space-between;

}

.description-text p:first-child{
    font-size: 0.9rem;
    color: #FAFAFB;
    font-weight: 700;
}

.description-text p:nth-child(2){
    color: #b0b8b8;
    font-size: 0.8rem;
}

.stars img{
    width: 0.7rem;
    padding-right: 0.4rem;
}

.button-download{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.download-orange{
    padding: 0.6rem 1rem;
    background-color: #F4694C;
    color: #FAFAFB;
    font-weight: 700;
    border: none;

}

.description-text{
    display: flex;
    flex-direction: column;
    gap: 0.17rem;
}

/* ?----Wargame-banner---- */

.wargame-banner{
    margin: 5% 8%;
    display: flex;
    justify-content: space-between;
}

.wargame{
    max-width: 40%;
    max-height: 58vh;
}

.wargameImg{
    width: 100%;
    height: 58vh;
    object-fit: cover; 
}

.wargame-info{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.wargame-info h2{
    text-align: left;
    font-family: 'Poppins', sans-serif;
}

.wargame-info p{
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    line-height: 1.5;
    color: #717171;
}

.buttons-wargame{
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.explore{
    padding: 2% 4%;
    color: #FBFCFC;
    background-color: #F4694C;
    border: none;
    font-size: 1.05rem;
}

.learn-more{
    padding: 2% 4%;
    color: #F4694C;
    font-size: 1.05rem;
    border: 2px solid #F4694C;
    background-color: #ffffff;
}

/* ?----Recommend-bar */

.recommend-bar{
    display: flex;
    justify-content: space-between;
    margin: 10% 8%;
}

.recommend-bar h2{
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-size: 2.2rem;
}

.arrow{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.previous{
    background-color: #FDE1DB;
    border: none;
    padding: 1.3rem 1.1rem;
}

.next{
    background-color: #F4694C;
    border: none;
    padding: 1.3rem 1.1rem;
}

