@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap');

html{
    font-size: 100%;
}

*{
    margin: 0;
    padding: 0;
}

body{
    max-width: 1440px;
    box-sizing: border-box;
    margin: 0 auto;
}

.container{
    background-color: #0F0F10;
}

/* !----First-section---- */

.first{
    margin: 0 8% 0 15%;
    position: relative;
    display: flex;
    gap: 5rem;
    justify-content: space-between;
}

/* &----Left-Division---- */

.left-division{
    display: flex;
}

.logo{
    margin: 2rem 0;
}

.logoImg{
    width: 2rem;
}

.headphone{
   position: relative;
   bottom: 4rem;
}

.beatsmainImg{
    width: 16rem;
}

/* &----Right-Division---- */

.right-division{
    margin: 2rem 0 0;
}

nav{
    display: flex;
    gap: 5rem;
    align-items: center;
}

.list{
    display: flex;
    gap: 4rem;
}

.list-items{
    font-size: 0.9rem;
    color: #ffffff;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.shop{
    padding: 1rem 3rem;
    background-color: #1E1E21;
    border: none;
    color: #ffffff;
    font-size: 0.8rem;
    border-radius: 0.5rem;
}

/* &----Background-first---- */

.bgc-first{
    width: 60%;
    height: 6rem;
    background-image: url("./Photos/onEar.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin: 2rem 4rem 0;
}

/* &----Hero---- */

.hero{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 4rem;
}

.heading-one{
    font-size: 4rem;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1rem;
}

.hero h2{
    color: #F2F2F3;
    font-size: 1.2rem;
}

.hero p{
    color: #a4a8ab;
    line-height: 2;
}

.add-bag{
    width: fit-content;
    background-color: #1E1E21;
    border: none;
    color: #F2F2F3;
    padding: 1rem 2rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    border-radius: 0.5rem;
}

.add-bag span{
    font-size: 1.2rem;
    font-weight: 600;
}

/* !----Association---- */

.logosImp{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    padding: 3rem 0rem;
    margin: 0 auto;
}


/*! ======================================================================================================== */
    /* ^---- @media for first-section and navbar ----*/
    
    @media(max-width: 1024px){
        /* !----First-section---- */
        .first{
            margin: 0 8% 0 8%;
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 5rem;
            justify-content: space-between;
        }

        /* &----Left-Division---- */
        .left-division{
            display: flex;
            justify-content: space-between;
        }

        .logo{
            margin: 2rem 0;
        }

        .logoImg{
            width: 2rem;
        }

        .headphone{
           position: relative;
           bottom: 5rem;
        }

        .beatsmainImg{
            width: 5rem;
        }

        /* &----Right-Division---- */
        .right-division{
            margin: 2rem 0 0;
            /* height: max-content; */
            z-index: 10;
            display: flex;
            flex-direction: column;
        }

        nav{
            display: flex;
            flex-direction: column;
            gap: 2rem;
            align-items: center;
            position: relative;
            bottom: 16rem;
            justify-content: center;
            
        }

        .list{
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        .list-items{
            font-size: 0.8rem;
            color: #ffffff;
            list-style-type: none;
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            text-align: center;
        }

        .shop{
            padding: 1rem 3rem;
            background-color: #1E1E21;
            border: none;
            color: #ffffff;
            font-size: 0.8rem;
            border-radius: 0.5rem;
        }

        /* &----Background-first---- */
        .bgc-first{
            width: 60%;
            height: 6rem;
            background-image: url("./Photos/onEar.png");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            margin: -15rem auto 0;
        }

        /* &----Hero---- */
        .hero{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            color: #ffffff;
            font-family: 'Poppins', sans-serif;
            padding-bottom: 2rem;
            justify-content: center;
            align-items: center;
        }

        .heading-one{
            font-size: 3rem;
            color: #ffffff;
            font-family: 'Poppins', sans-serif;
            text-align: center;
        }

        .hero h2{
            color: #F2F2F3;
            font-size: 1.2rem;
            text-align: center;
        }

        .hero p{
            color: #a4a8ab;
            line-height: 2;
            font-size: 0.8rem;
            text-align: center;
        }

        .add-bag{
            width: fit-content;
            background-color: #1E1E21;
            border: none;
            color: #F2F2F3;
            padding: 1rem 2rem;
            display: flex;
            gap: 1rem;
            align-items: center;
            font-family: 'Poppins', sans-serif;
            border-radius: 0.5rem;
        }

        .add-bag span{
            font-size: 1.2rem;
            font-weight: 600;
        }

        /* !----Association---- */
        .association{
            display: flex;
            justify-content: center;
        }
        .logosImp{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 80%;
            padding: 2rem 0rem;
            margin: 0 auto;
        }

        .logosImp img{
            width: 4rem;
        }
    }

/*! ======================================================================================================== */

/* !----Second-section---- */

.second{
    padding: 1px;
}

/* &----Spec-division---- */

.spec-division{
    margin: 10% 20% 8%;
}

.specifications{
    margin: 0 auto 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.spec-picture{
    display: flex;
    gap: 4rem;
}

.brief{
    color: #F2F2F3;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    position: relative;
}

.connect, .mic{
    padding-left: 1.5rem;
}

.detail{
    font-size: 0.6rem;
    padding-top: 0.1rem;
    color: #a4a8ab;
}

.beatOneImg{
    width: 20rem;
    padding-top: 1.5rem;
}

/* &----Case-division---- */

.case-division{
    margin: 0 15% 8%;
}

.case{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
}

.case-picture{
    display: flex;
    justify-content: space-around;
    width: 70%;
    align-items: center;
}

.info{
    color: #F2F2F3;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    line-height: 2;
    color: #a4a8ab;
}

.info-para{
    margin-bottom: 2rem;
}

.more{
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    padding: 0.6rem 1.2rem;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    background-color: #1E1E21;
    border: none;
    color: #ffffff;
    border-radius: 0.5rem;
}

.more img{
    width: 1.1rem;
}

/* ! ===================================================================================================== */

    @media all and (max-width: 1024px){
        .spec-division{
            margin: 10% 5% 8%;
        }

        .specifications{
            margin: 0 auto 3rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 3rem;
        }

        .spec-picture{
            display: flex;
            flex-direction: column;
            gap: 4rem;
            width: max-content;
            align-items: center;
        }

        .brief{
            color: #F2F2F3;
            font-family: 'Poppins', sans-serif;
            font-size: 0.8rem;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 3rem;
            position: relative;
            text-align: center;
        }

        .connect, .mic{
            padding-left: 0;
        }

        .detail{
            font-size: 0.6rem;
            padding-top: 0.1rem;
            color: #a4a8ab;
        }

        .beatOneImg{
            width: 10rem;
            padding-top: 0rem;
        }

        /* &----Case-division---- */

        .case-division{
            margin: 25% 5% 10%;
        }

        .case{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            align-items: center;
        }

        .case-picture{
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;
        }

        .beatCaseImg{
            width: 10rem;
            transform: rotate(90deg);
        }

        .info{
            color: #F2F2F3;
            font-family: 'Poppins', sans-serif;
            font-size: 1rem;
            line-height: 2;
            color: #a4a8ab;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .info-para{
            margin-bottom: 2rem;
            text-align: center;
        }

        .more{
            font-family: 'Poppins', sans-serif;
            font-size: 0.8rem;
            padding: 0.6rem 1.2rem;
            display: flex;
            align-items: center;
            gap: 0.8rem;
            background-color: #1E1E21;
            border: none;
            color: #ffffff;
            border-radius: 0.5rem;
            width: fit-content;
        }

        .more img{
            width: 1.1rem;
        }
    }
/* ! ==================================================================================================== */

/* !----Third-section---- */

.third{
    margin: 5% 17% 0%;
    padding-bottom: 5%;
}

.immerse{
    background-color: #181A1B;
    border-radius: 1rem;
    padding: 2rem 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: auto;
}

.text-area{
    font-family: 'Poppins', sans-serif;
    color: #F2F2F3;
    font-weight: 100;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.discount{
    font-size: 0.8rem;
    color: #BDC0C2;
    font-weight: 300;
}

.buy{
    width: fit-content;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.5rem 1.5rem;
    background-color: #000000;
    color: #F2F2F3;
    font-size: 0.8rem;
    border-radius: 0.4rem;
    border: none;
}

.shopping-bag{
    max-width: 1.1rem;
    font-family: 'Poppins', sans-serif;
}

/* !----Fourth-section---- */

.fourth{
    /* border: 2px solid red; */
    margin:  5% auto 0;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
    color: #F2F2F3;
    position: relative;
    padding: 0 0 5%;
    width: fit-content;
    
}

.selections{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   column-gap: 2rem;
}

.selectDetails{
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    width: 10rem;
    align-items: center;
    position: relative;
    padding: 6rem 1rem 0.5rem;
    bottom: 5rem;
    background-color: #181A1B;
    z-index: 0;
    border-radius: 0.8rem;
}

.selections>div{
    /* border: 1px dotted white; */
    width: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 12.5rem;
    margin-bottom: 2rem;
}

.hp-black{
    z-index: 10;
}

.oneImg{
    width: 6rem;
}


.color{
    color: #F2F2F3;
}
.price{
    color: #C0C3C5;
}


.buyBag{
    background-color: #0A0A0B;
    padding: 2% 4%;
    border-radius: 0.4rem;
    position: relative;
    top: 0.5rem;
    border: none;
}

.buyBagImg{
    width: 1rem;
}

/* !============================================================================================ */

@media all and (max-width: 1024px){
    /* !----Third-section---- */

    .third{
        margin: 5% 17% 0%;
        padding-bottom: 5%;
    }

    .immerse{
        background-color: #181A1B;
        border-radius: 1rem;
        padding: 2rem 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: auto;
        text-align: center;
        gap: 2rem;
    }

    .text-area{
        font-family: 'Poppins', sans-serif;
        color: #F2F2F3;
        font-weight: 100;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        width: max-content;
        align-items: center;
    }

    .discount{
        font-size: 0.8rem;
        color: #BDC0C2;
        font-weight: 300;
    }

    .buy{
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        padding: 0.5rem 1.5rem;
        background-color: #000000;
        color: #F2F2F3;
        font-size: 0.8rem;
        border-radius: 0.4rem;
    }

    .shopping-bag{
        max-width: 1.1rem;
        font-family: 'Poppins', sans-serif;
    }

    .headphone-third{
        width: 10rem;
    }

    /* !----Fourth-section---- */

    .fourth{
        /* border: 2px solid red; */
        margin:  5% 5% 0;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        color: #F2F2F3;
        position: relative;
        width: fit-content;
        
    }

    .selections{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        position: relative;
        flex-wrap: wrap;    
        padding: 0;
        justify-content: center;
        align-items: center;
    }

    .selectDetails{
        display: flex;
        justify-content: space-between;
        font-family: 'Poppins', sans-serif;
        font-size: 0.8rem;
        max-width: 8rem;
        align-items: center;
        position: relative;
        padding: 6rem 1rem 0.5rem;
        bottom: 5rem;
        background-color: #181A1B;
        z-index: 0;
        border-radius: 0.8rem;
    }

    .selections>div{
        /* border: 1px dotted white; */
        width: 10rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 12.5rem;
        margin-bottom: 2rem;
    }

    .hp-black{
        z-index: 10;
    }
    
    .twilight-gray{
        /* position: relative;
        bottom: 5rem; */
        width: 21rem !important; 
    }

    .selectDetails:nth-of-type(5){
        width: 20rem !important;
    }

    .color{
        color: #F2F2F3;
    }

    .price{
        color: #C0C3C5;
    }

    .oneImg{
        width: 6rem;
    }

    .buyBag{
        background-color: #0A0A0B;
        padding: 2% 4%;
        border-radius: 0.4rem;
        position: relative;
        top: 0.5rem;
    }

    .buyBagImg{
        width: 1rem;
    }

    .choiceImg{
        width: 10rem;
    }

}

/* !----Footer---- */

footer{
    background-color: #0F0F10;
    display: flex;
    margin: 2% 2% 0 10%;
    padding: 0 0 5% 0;
    gap: 4rem;
}

.twt{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.pdt-spt{
    color: #F2F2F3;
    font-family: 'Poppins', sans-serif;
    display: flex;
    gap: 10rem;
    justify-content: center;
    padding-right: 5rem;
    padding-left: 1rem;
}

.pdt-spt li{
    list-style-type: none;
    color: #C0C3C5;
    font-size: 0.8rem;    
}

.list-pdt, .list-spt{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.products, .support{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.mail-social{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.emailDiv{
    width: 18rem;
    position: relative;
}

input {
    margin: 0px;
    padding: 0 0rem 0 1rem;
    width: 100%;
    outline: none;
    height: 3.1rem;
    border-radius: 0.4rem;
    background-color: #181A1B;
    border: none;
    color: #BABDBF;
}

#subs{
    position: absolute;
    right: -0.5rem;
    padding: 0.7rem 1rem;
    background-color: #0A0A0B;
    color: #F2F2F3;
    z-index: 2;
    border: none;
    top: 0.35rem;
    border-radius: 0.4rem;
    gap: 4px;
    display: flex;
    align-items: center;
}

.social{
    display: flex;
    gap: 1rem;
}

.topArrow{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/* !========================================================================================= */

@media all and (max-width: 1024px){
    footer{
        background-color: #0F0F10;
        display: flex;
        flex-direction: column;
        margin: 2% 2% 0 10%;
        padding: 0 0 10% 0;
        gap: 8rem;
        position: relative;
    }

    .twtLogoImg{
        width: 2rem;
    }

    .topArrow{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        position: relative;
    }

    .tpArrowImg{
        width: 2rem;
    }
    .social{
        display: flex;
        gap: 1rem;
        justify-content: center;
    }

    .pdt-spt{
        color: #F2F2F3;
        font-family: 'Poppins', sans-serif;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        padding-right: 5rem;
        padding-left: 1rem;
        position: absolute;
        left: 5rem;
    }

    .mail-social{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        position: relative;
        top: 2rem;
    }
    

}