@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap');

html{
    font-size: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: max-width;
    margin: 0 auto;
}

.first{
    /* height: 100vh; */
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url("./Photos/mainBackground.png");
    background-size: cover;
    
    
}

/* &----Nav-bar----*/

.nav-bar{
    border-bottom: 2px solid #6C717D;
    margin: 0 8%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 2% 0;
    gap: 25%;
}

.logoNavImg{
    width: 12%;
}

.menu{
    max-width: max-content;
}

.list{
    display: flex;
    gap: 2rem;
}

.list-items{
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #D3D5DA;
}

/* &----Hero---- */

.hero{
    margin: 8% 8%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: max-content;
    padding: 0 5% 10%;
}

.hero h1{
    font-size: 4rem;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    max-width: fit-content;
}

.hero p{
    font-family: 'Poppins', sans-serif;
    color: #D3D5DA;
}

.learn{
    max-width: max-content;
    padding: 1rem 2rem;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    background-color: #6663E9;
    border-radius: 15%/50%;
}