/* font-family: 'Montserrat', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

@media all and (max-width: 1230px) {
    html {
        font-size: 70%;
    }
}

@media all and (max-width: 768px){
    html {
        font-size: 50%;
    }
}

@media all and (max-width: 480px){
    html {
        font-size: 40%;
    }
}

body {
    max-width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
}

.container {
    display: flow-root;
}

/*!----First-section----  */

.first {
    border: 2px solid red;
    margin-top: 2%;
}

.nav-hero {
    margin: 0 auto;
}

.nav-bar {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    justify-content: space-between;
    margin: 0 15%;
    align-items: center;
}

.menu-button {
    display: flex;
    gap: 3rem;
}

.menu {
    display: flex;
    gap: 3rem;
}

.list-items {
    list-style-type: none;
    font-size: 0.8rem;
    font-weight: 600;
}

.hero {
    display: flex;
    margin: 5% 15% 4% 15%;
    align-items: center;
    justify-content: space-between;
}