/* font-family: 'Montserrat', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

@media all and (max-width: 1230px) {
    html {
        font-size: 70%;
    }
}

@media all and (max-width: 768px){
    html {
        font-size: 50%;
    }
}

@media all and (max-width: 480px){
    html {
        font-size: 40%;
    }
}

body {
    max-width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
}

.container {
    display: flow-root;
}

/*!----First-section----  */

.first {
    margin-top: 2%;
    background-image: linear-gradient(#FEFFFF, #E3F1FF);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 95%);
    padding-bottom: 8%;
}

.nav-hero {
    margin: 0 auto;
}

/*&----Navigation bar----*/

.nav-bar {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    justify-content: space-between;
    margin: 0 12%;
    align-items: center;
}

.menu-button {
    display: flex;
    gap: 3rem;
    align-items: center;
}

.menu {
    display: flex;
    gap: 3rem;
}

.list-items {
    list-style-type: none;
    font-size: 0.8rem;
    font-weight: 600;
}

.arrow-down {
    border: solid #545252;
    border-width: 0 1.5px 1.5px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    position: relative;
    left: 0.2rem;
    bottom: 0.1rem;
}

.trial {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: #6F2AD0;
    border-width: 1.5px;
    border-radius: 2rem;
    border-color: #6F2AD0;
    background-color: transparent;
    outline: none;
}

/*& Hero area  */

.hero {
    display: flex;
    margin: 5% 12% 4% 12%;
    align-items: center;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
}

.first-info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.stars {
    margin-right: 0.8rem;
    width: 1.2rem;
}
.version {
    display: flex;
    background-color: #F7F1FF;
    padding: 1rem 1.4rem;
    font-size: 0.8rem;
    font-weight: 600;
    color: #6F2AD0;
    width: fit-content;
    border-radius: 3rem;
}

.release a {
    color: #6F2AD0;
}

.head-one {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.info-one {
    color: #7A7F84;
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 1.5;
}

.button-pair {
    display: flex;
    gap: 2rem;
}

.free {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: #FEFEFF;
    border-width: 1.5px;
    border-radius: 2rem;
    border: none;
    background-color: #6F2AD0;
    outline: none;
}

.more {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: #6F2AD0;
    border-width: 1.5px;
    border-radius: 2rem;
    border: none;
    background-color: #FEFEFF;
}

.first-image-mobile, .img-one-mobile {
    display: none;
}

/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */



/*!===========================================================================  */

@media all and (max-width: 1230px) {

    .first {
        padding-bottom: 20%;
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0 98%);
    }

    /*&----Navigation bar----*/
            .nav-bar {
                display: flex;
                flex-direction: column;
                margin: 0 auto;
                gap: 2rem;
                align-items: center;
                justify-content: center;
            }

            .menu-button {
                flex-direction: column;
                gap: 3rem;
                align-items: center;
            }

            .menu {
                flex-direction: column;
                gap: 3rem;
            }

            .list-items {
                font-size: 1.8rem;
                text-align: center;
            }

            .trial {
                padding: 0.8rem 1.5rem;
                font-size: 2.5rem;
            }

            /*& Hero area  */

            .hero {
                display: flex;
                flex-direction: column;
                margin: 5% auto;
                align-items: center;
                justify-content: center;
            }

            .first-info {
                display: flex;
                flex-direction: column;
                gap: 2rem;
            }

            .stars {
                margin-right: 0.8rem;
                width: 2.2rem;
            }
            .version {
                padding: 2rem;
                font-size: 2.2rem;
                margin: auto;
            }

            .heading-info {
                margin: auto;
                gap: 3rem;
            }

            .head-one {
                font-size: 4.5rem;
                margin-bottom: 4rem;
                text-align: center;
            }

            .info-one {
                color: #7A7F84;
                font-size: 2rem;
                font-weight: 600;
                line-height: 1.5;
                text-align: center;
            }

            .info-one br {
                display: inline;
                content: ' ';
                clear: none;
            }

            .info-one br::after {
                content: ' ';
            }

            .button-pair {
                display: flex;
                margin-top: 6rem;
                gap: 2rem;
                justify-content: center;
            }

            .free {
                padding: 0.8rem 1.5rem;
                font-size: 2.5rem;
                color: #FEFEFF;
            }

            .more {
                padding: 0.8rem 1.5rem;
                font-size: 2.5rem;
            }

            .first-image-mobile, .img-one-mobile {
                display: inline-flex;
                margin: auto;
            }

            .img-one-mobile {
                width: 80%;
            }

            .first-image, .img-one {
                display: none;
            }

}
/*!===========================================================================  */

/*!----Second-section----*/

.second {
    border: 2px solid red;
}

/*&----second-one----*/

.second-one {
    /* border: 2px solid blue; */
    margin: 2% 12%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    gap: 2rem;
}

.capsule {
    display: flex;
    width: fit-content;
    padding: 0.6rem 1.2rem;
    font-size: 0.8rem;
    font-weight: 600;
    border-radius: 3rem;
    gap: 1rem;
    background-color: #F7F0FF;
    align-items: center;
    color: #6F2AD0;
}

.awesome {
    width: 1.4rem;
}

.heading-second-one {
    font-size: 2rem;
}

.lorem {
    font-size: 1rem;
    text-align: center;
    color: #9494AB;
    font-weight: 500;
}

.features {
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 100%;
}

.mini-head {
    font-size: 1.2rem;
    font-weight: 700;
}

.mini-info {
    font-size: 0.9rem;
    text-align: center;
    color: #9494AB;
    line-height: 1.5;
    font-weight: 500;
}

.features div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.features div img {
    width: 4rem;
}

/*&----second-two----*/

.second-two {
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-between;
    margin: 5% 12%;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.cycle-2 {
    display: none;
}

.peculiar {
    color: #9494AB;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
}

.info-right {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: fit-content;
}

/*&----second-three----*/

.second-three {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 5% 8% 2% 12%;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.flowImg {
    width: 30rem;
}

/*!===========================================================================  */

@media all and (max-width: 1230px) {
    /*!----Second-section----*/

            .second {
                border: 2px solid red;
            }
            
            /*&----second-one----*/
            
            .second-one {
                /* border: 2px solid blue; */
                margin: 0 2% 2%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 4rem;
            }
            
            .capsule {
                font-size: 2.2rem;
                gap: 1rem;
                background-color: #F7F0FF;
                align-items: center;
            }
            
            .awesome {
                width: 1.4rem;
            }
            
            .heading-second-one {
                font-size: 3rem;
                text-align: center;
            }

            .heading-second-one br {
                display: inline;
                content: ' ';
                clear: none;
            }

            .heading-second-one br::after {
                content: ' ';
            }
            
            .lorem {
                font-size: 2rem;
                text-align: center;
            }
            
            .lorem br {
                display: inline;
                content: ' ';
                clear: none;
            }

            .lorem br::after {
                content: ' ';
            }

            .features {
                flex-direction: column;
                align-items: center;
                text-align: center;
                width: 100%;
                padding-bottom: 3rem;
                gap: 2rem;
                position: relative;
            }
            
            .mini-head {
                font-size: 2rem;
                font-weight: 700;
            }
            
            .mini-info {
                font-size: 1.5rem;
                text-align: center;
                color: #9494AB;
                line-height: 1.5;
                font-weight: 500;
            }
            
            .mini-info br {
                display: inline;
                content: ' ';
                clear: none;
            }

            .mini-info br::after {
                content: ' ';
            }

            .features div {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                justify-content: center;
                align-items: center;
                width: 50%;
            }
            
            .features div img {
                width: 6rem;
            }
            
            .valuable {
                position: relative;
                right: 20%;
            }

            .data {
                position: relative;
                left: 20%;
            }

            /*&----second-two----*/
            
            .second-two {
                /* border: 1px solid blue; */
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin: 10% 2%;
                align-items: center;
                font-family: 'Montserrat', sans-serif;
            }
            
            .peculiar {
                color: #9494AB;
                font-size: 2rem;
                font-weight: 500;
                line-height: 1.5;
                text-align: center;
            }

            .peculiar br {
                display: inline;
                content: ' ';
                clear: none;
            }

            .peculiar br::after {
                content: ' ';
            }

            
            .info-right {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 2rem;
                width: 100%;
            }

            .cycle {
                display: none;

            }

            .cycle-2 {
                display: flex;
            }

            .cycleImg-2 {
                width: 32rem;
                margin: auto;
            }

            /*&----second-three----*/
            
            .second-three {
                /* border: 1px solid blue; */
                display: flex;
                flex-direction: column-reverse;
                justify-content: center;
                margin: 10% 2%;
                align-items: center;
                font-family: 'Montserrat', sans-serif;
                gap: 2rem;
            }
            
            .flowImg {
                width: 32rem;
            }
}
/*!===========================================================================  */

/*!---- Third-section---- */

.third {
    background-color: pink;
    margin: 2% 0 8%;
    clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    padding: 15% 12%;
    background-image: linear-gradient(#FCF8FF 30%, #F4F8FF 70%);
    gap: 3rem;
}

.heading-third {
    font-size: 1.6rem;
    text-align: center;
    font-weight: 500;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    font-weight: 700;
}

.profileImg {
    margin-bottom: 2rem;
}

.logo-bar {
    display: flex;
    justify-content: space-around;
    width: 100%;
    border-top: 2px solid #cac6c6a4;
    padding-top: 2rem;
}

.logobarImg {
    width: 8rem;
}

/*!===========================================================================  */

@media all and (max-width: 1230px) {
/*!---- Third-section---- */

            .third {
                padding: 15% 5%;
                clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
            }

            .profile { 
                font-size: 1.5rem;
            }

            .heading-third {
                font-size: 2rem;
            }

            .heading-third br {
                display: inline;
                content: ' ';
                clear: none;
            }

            .heading-third br::after {
                content: ' ';
            }
}

/*!===========================================================================  */

/* !----Fourth-section---- */

.fourth {
    margin: 5% 12%;
    /* border: 2px solid pink; */
    padding: 3% 0;
    display: flex;
    gap: 2rem;
    font-family: 'Montserrat', sans-serif;
    justify-content: space-between;
}

.fourth-left {
    /* border: 1px solid orange; */
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.fourth-left h2 {
    font-size: 2rem;
    font-weight: 600;
}

.line{
    display:block; 
}

.line p{
    font-size: 1rem; 
    text-align: center; 
    border-bottom: 2px solid #E7E7E7; 
    position: relative; 
}

.line p span {
    background-color: #FFFFFF; 
    position: relative; 
    top: 0.625rem; 
    padding: 0 0.625rem;
    color: #a6a6a6;
    font-weight: 500;
}

.logo-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 5rem;
    column-gap: 3rem;
    margin-top: 2rem;
}

.fourth-right {
    /* border: 1px solid orangered; */
    padding: 0 2%;
    background-color: #F9F0FF;
    width: 40%;
    border-radius: 0.4rem;
}

.envelope-box {
    width: 95%;
    /* border: 1px solid greenyellow; */
    margin: 0 auto;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-top: 6%;
    position: relative;
    bottom: 12%;
    box-shadow: 5px 5px 5px 2px #F6F6F8;
    border-radius: 0.4rem;
}

.envelope-box h3 {
    font-size: 1.8rem;
    font-weight: 600;
    padding: 4% 0 0;
}

.fourth-button {
    color: #ffffff;
    background-color: #6F2AD0;
    border: none;
    font-size: 1rem;
    padding: 0.6rem 5.7rem;
    border-radius: 0.4rem;
}

.form-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-list li {
    list-style-type: none;

}

.form-list input {
    font-size: 1rem;
    padding: 0.6rem 6.1rem 0.6rem 1.1rem;
    border-radius: 0.4rem;
    outline: none;
    border: 1.5px solid #ede8e8;
}

.choice {
    font-size: 1.2rem;
    font-weight: 600;
}

.border-line {
    width: 80%;
    border: 1.4px solid #E7E7E7;
}

/*!===========================================================================  */

@media all and (max-width: 1230px) {
            /* !----Fourth-section---- */

            .fourth {
                margin: 5% auto;
                flex-direction: column;
                gap: 10rem;
                align-items: center;
                height: fit-content;
            }

            .fourth-left {
                width: 90%;
                align-items: center;
            }
            
            .fourth-left h2 {
                font-size: 3rem;
                width: 80vw;
                margin: 0 auto;
                text-align: center;  
            }

            .line{
                display:block; 
            }

            .line p{
                font-size: 2rem; 
                width: 70vw;
            }

            .line p span {
                top: 1.3rem; 
            }

            .fourth-right {
                width: 70%;
                border-radius: 0.4rem;
                position: relative;
            }

            .envelope-box {
                width: 95%;
                margin: 0 auto;
                gap: 1.5rem;
                padding-top: 6%;
                padding-bottom: 10%;
                bottom: 2.5rem;
                box-shadow: 3px 3px 10px 3px #F6F6F8;
                border-radius: 0.4rem;
            }

            .envelope-box h3 {
                font-size: 1.8rem;
                font-weight: 600;
                padding: 4% 0 0;
                margin-bottom: 2rem;
            }

            .fourth-button {
                border: none;
                font-size: 2rem;
                padding: 0.6rem 8rem;
            }

            .form-list li {
                list-style-type: none;
            
            }

            .form-list input {
                font-size: 2rem;
                padding: 0.6rem 6rem 0.6rem 1.1rem;
            }

            .choice {
                font-size: 1.5rem;
                margin: 1rem 0;
            }

            .google-signInImg {
                width: 50%;
            }

            .border-line {
                width: 80%;
                border: 1.4px solid #E7E7E7;
                margin: 1rem 0;
            }
            
            .account-login {
                font-size: 2rem;
            }
}

/*!===========================================================================  */